<template>
  <div class="content-container">
    <Todolist class="todolist-component" v-if="userInfo" :userInfo="userInfo" />
    <div v-show="!userInfo"></div>

    <div>
      <Sign @sign="getUserInfoAfterSign" />

      <v-calendar
        :attributes="attributes"
        @dayclick="onDayClick"
        class="w-100 mb-4"
      />
      <b-button v-b-modal.modal-newTodo class="w-100" @click="openAddNewModal">
        Add new todo
      </b-button>
    </div>
  </div>
</template>

<script>
import Todolist from "./Todolist.vue";
import Sign from "./Sign.vue";

export default {
  name: "Content",
  components: {
    Todolist,
    Sign,
  },

  data() {
    return {
      attributes: [
        {
          key: "day",
          highlight: true,
          dates: new Date(),
        },
      ],
      userInfo: JSON.parse(sessionStorage.getItem("userInfo")),
    };
  },

  methods: {
    onDayClick(day) {
      this.attributes[0].dates = day.date;
      this.$root.$emit("getDate", day.date);
    },
    getUserInfoAfterSign(userInfo) {
      this.userInfo = userInfo;
    },
    openAddNewModal() {
      this.$root.$emit("defineModal", "add");
      this.$root.$emit("sendTodoInfo", {});
    },
  },
};
</script>

<style>
.content-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 3rem;
}
</style>