<template>
  <div>
    <div v-if="!userInfo">
      <b-form-input
        class="mb-2"
        placeholder="input your username"
        v-model="username"
      ></b-form-input>

      <div class="d-flex mb-2">
        <b-form-input
          class="mr-1 flex-grow-1"
          :type="'password'"
          placeholder="input your password"
          v-model="password"
        ></b-form-input>
        <b-button style="min-width: fit-content" @click="handleSignIn">
          Sign In
        </b-button>
      </div>

      <b-button class="w-100 mb-2" variant="light" @click="handleSignUp">
        Sign Up
      </b-button>
    </div>
    <div v-else class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="m-0">{{ userInfo.username.slice(0, 15) }}</h1>
      <b-button @click="handleSignOut"> Sign Out </b-button>
    </div>
  </div>
</template>

<script>
import { signIn } from "../controllers/user/signIn";
import { signUp } from "../controllers/user/signUp";

export default {
  name: "Sign",

  data() {
    return {
      username: "",
      password: "",
      userInfo: JSON.parse(sessionStorage.getItem("userInfo")),
      form: "sign in",
    };
  },

  methods: {
    async handleSignIn() {
      const userInput = { username: this.username, password: this.password };
      this.userInfo = await signIn(userInput);
      this.clearInput();
      this.$emit("sign", this.userInfo);
    },
    async handleSignUp() {
      const userInput = { username: this.username, password: this.password };
      this.userInfo = await signUp(userInput);
      this.clearInput();
      this.$emit("sign", this.userInfo);
    },
    handleSignOut() {
      this.userInfo = sessionStorage.removeItem("userInfo");
      this.$emit("sign", this.userInfo);
    },
    clearInput() {
      this.username = "";
      this.password = "";
    },
  },
};
</script>