<template>
  <div>
    <b-list-group>
      <div v-for="todo in todolist" :key="todo.id">
        <b-list-group-item
          class="d-flex align-items-center justify-content-between my-1"
          :aria-controls="`todoID-${todo.id}`"
          v-b-toggle:[`todoID-${todo.id}`]
        >
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              class="mr-2"
              :checked="isComplete(todo.status)"
              @click.stop="handleCheckTodo(todo)"
            />
            <span>{{ todo.title }}</span>
          </div>
          <div class="d-flex align-items-center">
            <b-button
              v-b-modal.modal-newTodo
              variant="secondary"
              @click.stop="openModalUpdate(todo.id)"
              class="mr-1"
            >
              <b-icon icon="pencil-fill" scale="0.75"></b-icon>
            </b-button>

            <b-button variant="danger" @click.stop="handleRemoveTodo(todo)">
              <b-icon icon="trash-fill" scale="0.75"></b-icon>
            </b-button>
          </div>
        </b-list-group-item>

        <b-collapse :id="`todoID-${todo.id}`">
          <p
            class="m-0 p-2 bg-secondary text-white"
            style="white-space: pre-wrap"
          >
            {{ todo.desc ? todo.desc : "..." }}
          </p>
        </b-collapse>
      </div>
    </b-list-group>
  </div>
</template>

<script>
import moment from "moment";
import { getTodoByDate } from "../controllers/todo/getTodoByDate";
import { getTodoByID } from "../controllers/todo/getTodoByID";
import { removeTodo } from "../controllers/todo/removeTodo";
import { checkTodo } from "../controllers/todo/checkTodo";

export default {
  data() {
    return {
      todolist: [],
      pickedDate: new Date(),
      userId: this.userInfo.userId,
      formatedDate: moment(this.pickedDate).format("YYYY-MM-DD"),
    };
  },

  props: {
    userInfo: { type: Object },
  },

  methods: {
    isComplete(status) {
      if (status === "doing") return false;
      if (status === "done") return true;
      else return false;
    },
    async openModalUpdate(todoID) {
      this.$root.$emit("defineModal", "update");
      const todo = await getTodoByID(todoID);
      this.$root.$emit("sendTodoInfo", todo);
    },
    async handleRemoveTodo(todo) {
      this.todolist = await removeTodo(todo);
    },
    async handleCheckTodo(todo) {
      this.todolist = await checkTodo(todo);
    },
  },

  watch: {
    async pickedDate(newValue) {
      this.todolist = await getTodoByDate(
        this.userId,
        moment(newValue).format("YYYY-MM-DD")
      );
    },
  },

  async created() {
    this.todolist = await getTodoByDate(this.userId, this.formatedDate);
  },

  mounted() {
    this.$root.$on("getNewTodolist", (payload) => (this.todolist = payload));
    this.$root.$on("getDate", (payload) => (this.pickedDate = payload));
  },
};
</script>



