<template>
  <div>
    <b-modal
      id="modal-newTodo"
      v-bind:hideHeader="true"
      v-bind:hideFooter="true"
    >
      <b-form-input
        class="mb-2"
        placeholder="input your task title"
        v-model="title"
      ></b-form-input>
      <b-form-textarea
        class="mb-2"
        v-model="desc"
        placeholder="task description..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
      <b-button class="w-100" v-if="modalHandle === 'add'" @click="addNewTodo">
        Add
      </b-button>
      <b-button
        class="w-100"
        v-if="modalHandle === 'update'"
        @click="updateTodo"
      >
        Update
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import { createTodo } from "../controllers/todo/createTodo";
import { updateTodo } from "../controllers/todo/updateTodo";
import moment from "moment";

export default {
  name: "AddNewTodoModal",

  data() {
    return {
      title: "",
      desc: "",
      date: new Date(),
      modalHandle: "add",
      updatedTodo: null,
    };
  },

  methods: {
    onDayClick(day) {
      this.attributes[0].dates = day.date;
      this.$emit("getDate", day.date);
    },
    async addNewTodo() {
      const userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
      if (!userInfo) return;
      const todo = {
        userId: userInfo.userId,
        removed: false,
        status: "doing",
        title: this.title,
        desc: this.desc,
        createdDate: moment(this.date).format("YYYY-MM-DD"),
      };
      if (!todo.title) {
        return;
      }

      const todolist = await createTodo(todo);
      this.$bvModal.hide("modal-newTodo");
      this.$root.$emit("getNewTodolist", todolist);
    },
    async updateTodo() {
      this.updatedTodo.title = this.title;
      this.updatedTodo.desc = this.desc;
      const todolist = await updateTodo(this.updatedTodo);
      this.$bvModal.hide("modal-newTodo");
      this.$root.$emit("getNewTodolist", todolist);
    },
  },

  mounted() {
    this.$root.$on("getDate", (payload) => (this.date = payload));
    this.$root.$on("defineModal", (payload) => (this.modalHandle = payload));
    this.$root.$on("sendTodoInfo", (payload) => {
      this.updatedTodo = payload;
      this.title = payload.title;
      this.desc = payload.desc;
    });
  },
  destroyed() {
    this.$root.$off("getDate");
    this.$root.$off("defineModal");
    this.$root.$off("sendTodoInfo");
  },
};
</script>
