<template>
  <div id="app" class="p-5">
    <Header />
    <TodoModal />
    <Content />
  </div>
</template>

<script>
import Header from "./components/Headers.vue";
import TodoModal from "./components/TodoModal.vue";
import Content from "./components/Content.vue";

export default {
  name: "App",
  components: {
    Header,
    TodoModal,
    Content,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
